.header__content {
    width: 30%;
    margin: 0;
}

.header-nav__list {
    width: 300px;
    display: flex;
    text-align: right;
    justify-content: space-between;
}

.nav-link__home,
.nav-link__date,
.nav-link__button {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
}

.content {
    width: 90%;
    margin : 0 auto;
    text-align: center; 
}

.date__menu {
    display: flex;
    margin: 0 auto;
    width: 380px;
}

.date__select {
    margin: 15px auto;
    display: flex;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.date-input {
    margin: 0 auto;
}
.date-nav {
    text-decoration: none;
    font-size: 18px;
    border: solid 1px #1C90FF;
    border-radius: 2px;
    color: #1C90FF;
    background: #FFF;
    padding: 0 10px;
    margin: 0 25px;
}

.date-table {
    width: 100%;
    justify-content: space-between;
}

.table-row {
    border-top: solid 1px #CCC;
}

.table-header__item {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 40px;
    width: 100px;
    text-align: left;
}

.table-date__item {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 40px;
    width: 100px;
    text-align: left;
}

.pagination {
    display: flex;
    margin: 0 auto;
    height: 100px;
    width: 1000px;
    justify-content: center;
}