.paginationWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 40px;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
}

.prev_link ,
.next_link{
    background: #FFF;
    color: #1E90FF;
    padding: 12px 12px;
    text-align: center;
}

.paginationWrap ul.pagination li a {
    background: #FFF;
    color: #1E90FF;
    padding: 12px 12px;
    text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
    background-color: #1E90FF;
    color: white;
    width: 38px;
    height: 45px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #FFF;
    border: solid 1px #1E90FF;
}